<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>welcome</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore tenetur
      quia sunt vel quas nisi esse recusandae, nostrum quo quasi modi harum quam
      iusto fugit quod numquam officiis unde asperiores?
    </p>
  </body>
</html>
